{% extends 'dishes/base.html' %}
{% block content %}
     <div class="row">
        <div class="col-md-12 text-center">
            <h3>Customize your food</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center align-items-center flex-column">
            <form method="post" class="text-center">
                {% csrf_token %}
                {{ formset.as_p }}
                <input type="submit" value="Submit" class="btn btn-sm btn-primary">
            </form>
        </div>
    </div>

{% endblock %}