{% extends 'dishes/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>{{ dish.title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center align-items-center flex-column">
            <table class="p-4">
                {% for item in dish.dish_ingredients.all %}
                    <tr>
                        <td>{{ item.ingredient }}</td>
                        <td>{{ item.quantity }}</td>
                    </tr>
                {% endfor %}
            </table>
            <a href="{% url 'dishes:order' dish.pk %}" class="btn btn-primary">
                Make order
            </a>
        </div>
    </div>

{% endblock %}